
<article>
    <a href="/dashboard">Back</a>
    <h2>
        Edit Post
    </h2>
    <form class="form-edit-post">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <textarea name="post-content">{{post.content}}</textarea>
        </div>
        <div>
            Posted by you on {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "Comment" post.comments.length}}</a>
        </div>
        <button type="submit" class="button">Save Post</button>
        <button type="button" class="delete-button">Delete Post</button>
    </form>
</article>

<form class="comment-form">
    <span>Add a comment:</span>
    <div>
        <textarea name="comment-content"></textarea>
    </div>

    <div>
        <button type="submit" class="button">Add a Comment</button>
    </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>